{% extends "base.html" %}

{% block title %}Search{% endblock %}

{% block content %}

<div class="row">

  <div class="col-md-12">

    <h3>Try a Search!</h3>
    <form action="search" method="POST">
      <div class="form-group">
        <label for="keywords">Enter some keywords</label>
        <input type="text" class="form-control" id="keywords" name="keywords" placeholder="puppy">

        <p>Please select the Year, Month and Date for the start of the timeframe in question.</p>

        <label for="year1">Year:</label>
        <input type="number" name="year1" value="2015" min = "2000" max="2016" step="1">

        <label for="month1">Month:</label>
        <input type="number" name="month1" value="1" min = "1" max="12" step="1">

        <label for="day1">Day:</label>
        <input type="number" name="day1" value="1" min="1" max="31" step="1">


        <P>Please select the Year, Month and Date for the end of the timeframe in question.</p>

        <label for="year2">Year:</label>
        <input type="number" name="year2" value="2015" min = "2000" max="2016" step="1">

        <label for="month2">Month:</label>
        <input type="number" name="month2" value="1" min = "1" max="12" step="1">

        <label for="day2">Day:</label>
        <input type="number" name="day2" value="1" min="1" max="31" step="1">

      </div>
      <button type="submit" class="btn btn-default">Search</button>
    </form>
  
  </div>

</div>    

{% endblock %}